* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Jost", sans-serif;
  background: linear-gradient(181deg, #0d2d1e 5.77%, #3d5f3e 30.29%, #779b7f 49.04%, #b7c9b9 75.96%, #e7efda 100%);
  color: white;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}